<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/home.css">
</head>

<body>
    <div class="main">
        <div class="nav">
            <h2>Logo</h2>
            <div class="nav2">
                <a href="#">Store</a>
                <a href="#">Courses</a>
                <a href="#">Career</a>
                <a href="#">Blog</a>
                <a href="#">Account</a>
                <a href="/register" class="btnlogin">Sign Up</a>
                <i class="ri-menu-3-line"></i>
            </div>
        </div>
        <div class="contant">
            <div class="right">
                <h1>Learn from the <span>coolest</span> coding platform of india.</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam magni repellendus consequatur beatae
                    nemo quibusdam, exercitationem debitis delectus ratione ullam ea minus autem distinctio, hic sint
                    cupiditate dolor perspiciatis. Numquam!
                </p>
                <button>Explore Now</button>
            </div>
            <div class="left">
                <img src="images/image.jpg" alt="">
            </div>

        </div>
    </div>



</body>

</html>