<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web</title>
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
<header>
      <div class="sign">
    
        <div class="A">
          <h1>Sign in</h1>
        </div>
        <form action="/login" method="post">
          <div class="shiva">
            <input type="email" name="email" placeholder="  Email" />
          </div>
          <div class="shiva">
            <input type="password" name="password" placeholder="  password" />
          </div>
         
      
        <div class="sum">
          <button type="submit" class="btn">Sign in</button>
        </div>
        </form>
       

        <div class="Register">
          <p>You have a account? <a href="/register">Sign Up</a></p>
        </div>
    </header>
</body>
</html>