<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="stylesheets/profile.css">
</head>
<body>
    <main>
        <img src="https://images.unsplash.com/photo-1534607287018-541c7d97748f?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDg2MDY2ODF8&ixlib=rb-4.0.3&q=85" alt="">
        <h1>Jessica Randall</h1>
        <h2>London, United Kingdom</h2>
        <p>"Front-end developer and avid reader."</p>
        <menu>
          <li>GitHub</li>
          <li>Frontend Mentor</li>
          <li>LinkedIn</li>
          <li>Twitter</li>
          <li>Instagram</li>
        </menu>
      </main>
</body>
</html>