<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>web</title>
  <link rel="stylesheet" href="stylesheets/register.css">
</head>

<body>
  <header>
    <div class="sign">

      <div class="A">
        <h1>Sign Up</h1>
      </div>
      <form action="/register" method="post">

        <div class="shiva">
          <input type="text" name="username" placeholder="  Username" />
        </div>
        <div class="shiva">
          <input type="email" name="email" placeholder="  Email" />
        </div>
        <div class="shiva">
          <input type="password" name="password" placeholder="  password" />
        </div>
        <div class="shiva">
          <input type="confirm password" name="cpassword" placeholder="  confirm password" />
        </div>

        <div class="sum">
          <button type="submit" class="btn">Sign Up</button>
        </div>
      </form>
      <div class="Register">
        <p>You have a account? <a href="/login">Login</a></p>
      </div>
  </header>
</body>

</html>